name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.x'

    - name: Check out code
      uses: actions/checkout@v5

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        mkdir -p bin
        BINARY_NAME="bin/agent-go-${{ matrix.goos }}-${{ matrix.goarch }}"
        if [ "${{ matrix.goos }}" = "windows" ]; then
          BINARY_NAME+=".exe"
        fi
        go build -v -o $BINARY_NAME ./src

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: agent-go-${{ matrix.goos }}-${{ matrix.goarch }}
        path: bin/agent-go-${{ matrix.goos }}-${{ matrix.goarch }}*