name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        # Exclude unsupported combinations if needed, though the 'if' condition below is more targeted
        # exclude:
        #   - goos: windows
        #     goarch: arm64
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.x'

    - name: Check out code
      uses: actions/checkout@v5
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y upx-ucl

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        mkdir -p bin
        BINARY_NAME="bin/agent-go-${{ matrix.goos }}-${{ matrix.goarch }}"
        if [ "${{ matrix.goos }}" = "windows" ]; then
          BINARY_NAME+=".exe"
        fi
        go build -v -o $BINARY_NAME ./src

    - name: Compress binary with UPX
      if: matrix.goos != 'windows' && matrix.goarch != 'arm64'
      run: |
        BINARY_NAME="bin/agent-go-${{ matrix.goos }}-${{ matrix.goarch }}"
        if [ "${{ matrix.goos }}" = "windows" ]; then
          BINARY_NAME+=".exe"
        fi
        upx --best --lzma $BINARY_NAME

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: agent-go-${{ matrix.goos }}-${{ matrix.goarch }}
        path: bin/agent-go-${{ matrix.goos }}-${{ matrix.goarch }}*