name: Go Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.x' ]
        platform: [ 'linux/amd64', 'windows/amd64', 'darwin/amd64' ]

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      env:
        GOOS: ${{ split(matrix.platform, '/')[0] }}
        GOARCH: ${{ split(matrix.platform, '/')[1] }}
      run: |
        os_name=$(echo $GOOS)
        if [ "$os_name" = "windows" ]; then
          go build -v -o agent-go.exe .
        else
          go build -v -o agent-go-$os_name .
        fi
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: agent-go-${{ split(matrix.platform, '/')[0] }}
        path: |
          agent-go*
          !*.test