name: PR Agent
on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:
jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    name: PR Agent
    steps:
      - name: PR Agent action step
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Configure custom model
          config.model: "openai/Qwen-3-Coder-Next"
          config.fallback_models: '["openai/Devstral2"]'
          # Set custom endpoint URL
          OPENAI__API_BASE: ${{ secrets.OPENAI_URL }}
          # API key
          OPENAI_KEY: ${{ secrets.OPENROUTER_TOKEN }}
          # Max tokens
          config.custom_model_max_tokens: "128000"
          # Tool configuration
          github_action_config.auto_review: "false"
          github_action_config.auto_describe: "true"
          github_action_config.auto_improve: "false"
          pr_description.enable_pr_diagram: "false"
