name: Code Review

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install shippie
        run: bun i shippie

      - name: Run shippie review
        run: bun shippie review --platform=github --modelString=openai:gpt-4o-mini --baseUrl=https://openrouter.ai/api/v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BASE_SHA: ${{ github.event.pull_request.base.sha }}
            GITHUB_SHA: ${{ github.sha }}
            OPENAI_API_KEY: ${{ secrets.OPENROUTER_TOKEN }}
